<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Token for password recovery</h1>
<p>
  Your token is: <%= @user.token %>
</p>
</body>
</html>
